parameters:
  level: 2
  paths:
    - src/
    - tests/
  # Ignore known false-positive patterns from Drupal's dynamic service container.
  ignoreErrors:
    - '#Call to an undefined method Drupal\\Core\\Entity\\EntityInterface::#'
    - '#Access to an undefined property Drupal\\Core\\Field\\FieldItemInterface::\$#'
